{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线问答</title>
    <style>
        #a{
            width: 100%;

        }
        #aa{
            width: 10%;
            margin: 0 auto;
        }
        #ab{
            width: 25%;
            margin: 0 auto;
            {#border: 1px solid;#}
        }

        tr:nth-child(odd){
            background: lightblue;
        }

    </style>
</head>
<body background="../static\img\logBanner.png">
{#<img src="../static\img\logBanner.png" alt="" width="100%" height="100%">#}
<div id="a">
    <div id="aa">
        <h3>在 线 问 答</h3>
        <a href="/quest">我要提问</a>
    </div>

</div>
<div id="a">
    <table id="ab">
        <tr>
            <td>序号</td>
            <td>问题</td>
            <td>回答次数</td>
            <td>最后修改</td>
        </tr>
        {% for foo in questions %}
            <tr>
                <td>{{ foo.id }}</td>
                <td><a href="/answ/{{ foo.id }}/">{{ foo.title }}</a></td>
                <td>{{ foo.answerCount }}</td>
                <td>{{ foo.lastModified|date:"Y-m-d H:i:s"   }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>