{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提问</title>
    <style>
        #a{
            width: 100%;

        }
        #aa{
            width: 14%;
            margin: 0 auto;
        }
        #ab{
            width: 15%;
            margin: 0 auto;
        }
    </style>
</head>
<body background="../static\img\logBanner.png">
<div id="a">
    <div id="aa">
        <h1>我要提问</h1>
        <a href="/index">返回首页</a>
    </div>
</div>
<script>
    {% if msg == 'yes' %}
        alert('不能为空')
    {% endif %}
</script>
<div id="a">
    <div id="ab">
        <form action="" method="post">
        问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题<input type="text" name="title"><br>
        问题描述<input type="text" name="detail"><br>
        <input type="submit" value="保存问题">
    </form>
    </div>


</div>
</body>
</html>